<div class="single" data-display="block">
  {{ if eq .Type "blog" }}
    <div class="single__title">
      {{ .Title }}
    </div>
    <div class="single__meta">
      {{ partial "main/component/article-meta.html" . }}
    </div>
  {{ end }}

  <article class="single__contents" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
      
    <h4>
      Les initiatives
    </h4>
    <h5>
      De votre commune (à privilégier)
    </h5>
    
    <p>
      <object data="https://img.shields.io/static/v1?labelColor=blue&label=COVID%20ENTRAIDE%20|%20Initiatives&message={{ .Params.comm.cp  }}%20{{ .Params.comm.nom }}&color=orange&style=flat-square&link={{ printf "%s/#%s" .Site.Params.peerpadBaseURL .Params.peerpad.comm.write_path | absURL }}"></object>
    </p>

    <h5>
      De votre département
    </h5>
    
    <p>
      <object data="https://img.shields.io/static/v1?labelColor=blue&label=COVID%20ENTRAIDE%20|%20Initiatives&message={{ .Params.dept.num  }}%20{{ .Params.dept.nom }}&color=orange&style=flat-square&link={{ printf "%s/#%s" .Site.Params.peerpadBaseURL .Params.peerpad.dept.write_path | absURL }}"></object>
    </p>

    
    <h4>
      Les échanges
    </h4>
    <p><small><i>Non disponible sur iOS mais fonctionnel sur un mobile Android ou sur un ordinateur</i></small></p>
    <h5>
      Les échanges au sein de votre commune (à privilégier)
    </h5>
    <p>
      <object data="https://img.shields.io/static/v1?labelColor=green&label=COVID%20ENTRAIDE%20|%20&#201;changes&message={{ .Params.comm.cp  }}%20{{ .Params.comm.nom }}&color=orange&style=flat-square&link={{ printf "%s/#/channel/%s_%s" .Site.Params.chatBaseURL .Params.comm.cp .Params.comm.slug | absURL }}"></object>
    </p>
    <h5>
      Les échanges au sein de votre département
    </h5>
    <p>
      <object data="https://img.shields.io/static/v1?labelColor=green&label=COVID%20ENTRAIDE%20|%20&#201;changes&message={{ .Params.dept.num  }}%20{{ .Params.dept.nom }}&color=orange&style=flat-square&link={{ printf "%s/#/channel/%s_%s" .Site.Params.chatBaseURL .Params.dept.num .Params.dept.slug | absURL }}"></object>
    </p> 

    
    <h4 id="confidentialité">Confidentialité</h4>
    
    <p>Ces outils sont en accès public, ils sont hébergés de pairs à pairs de manière décentralisée.<br>
    Chacun de vos navigateurs enregistre ce qu’il voit et le transmet à ceux qui sont connectés au même document.<br>
    Ne publiez pas d’informations sensibles.</p>
    
    <h4 id="contribuer">Contribuer</h4>
    
    <h5 id="par-vos-compétences">
      En alimentant cette plateforme de proximité
    </h5>
    
    <p><a href="{{ "/contribuer/" | relURL }}" target="_blank">Voir la page CONTRIBUER</a></p>
    
    <h5>Par un don au <a href="https://agir.lowtech.fr" target="_blank">Fonds Agir Low-Tech</a></h5>
    
    <p>
    <object data="https://img.shields.io/static/v1?label=COVID%20ENTRAIDE%20&message=FAIRE%20UN%20DON&color=yellow&style=flat-square&link=https://liberapay.com/StopCoronavirus.Tech/donate"></object>
    </p>
    <p>Votre don servira à financer l’infrastructure supportant la plateforme</p>
    
    <h5 id="par-vos-compétences">Par vos compétences informatiques</h5>
    
    <p><a href="https://gitlab.com/stopcoronavirus/infra-follow" target="_blank">Plus de détails sur cette page</a></p>


  </article>
</div>